@import url('https://fastly.jsdelivr.net/npm/galmuri@latest/dist/galmuri.css');

/* 드래그 방지 */
* {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: 'Galmuri9', sans-serif;
}

body {
  background-image: url(../IMG/class_background.png);
  background-size: cover;
  background-position: center bottom;
  height: 100vh;
  margin: 0px;
  overflow: hidden;
}

.background {
}

.character {
  position: absolute;
  left: 39%;
  bottom: 2%;
  width: 280px;
  height: 80vh;
}

.left-button {
  margin: 10px 0 0 10px;
  display: flex;
  flex-direction: column;
  left: 41.5%;
  bottom: 2%;
}

.inventory {
  width: 25vh;
  height: 25vh;
  cursor: pointer;
}

/* 버튼 디자인 개선 */
input[type="button"],
button {
  width: 240px;
  height: 100px;
  cursor: pointer;
  margin-top: 10px;
  /* background-color: #FFF9EF;
  border: 5px solid #F8E8C1;
  box-shadow: 3px 3px 0 #A67C52; */
  font-family: 'Galmuri9', sans-serif;
  font-size: 25px;
  transition: all 0.1s ease-in-out;
  border-radius: 10px;
}

input[type="button"]:hover,
button:hover {
  transform: translateY(-2px);
  /* background-color: #FDF6E3; */
  /* box-shadow: 5px 5px 0 #7B5E45;
  border-radius: 10px; */
}

a {
  width: 20vh;
}

.top-container {
  display: flex;
  justify-content: space-between;
}

button {
  background: none;
  border: none;
}

#result {
  text-align: center;
}

#intell {
  font-size: 30px;
}

.int-bar,
.major-bar {
  margin: 10px 0 0 10px;
  padding: 0 20px 0 30px;
  background-color: #FFF9EF;
  width: 30vh;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 30px;
  border: 3px solid #F8E8C1;
  box-shadow: 4px 4px 0 #A67C52;
  border-radius: 10px;
}

/* challenge 버튼 우상단 고정 */
#challenge {
  position: absolute;
  top: 1px;
  right: 20px;
  width: 12vh;
  height: 10vh;
  
}

img {
  width: 100%;
  height: 100%;
}

/* 학생증 */
span {
  font-size: 20px;
}

.low {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  margin-bottom: 15px;
}

.student-id {
  margin-right: 15px;
  background-color: white;
  width: 60vh;
  height: 35vh;
  border-radius: 30px;
  border: 4px solid #F8E8C1;
  box-shadow: 4px 4px 0 #A67C52;
}

.group {
  display: flex;
}

h1 {
  text-align: center;
  margin-top: 10px;
}

.imformation {
  margin-left: 15px;
  display: flex;
  flex-direction: column;
}

#kimjunpyo {
  font-size: 30px;
}

#birthday {
  font-size: 20px;
}

.id-photo {
  margin-left: 25px;
  width: 18vh;
  border: 0.1px solid gray;
}


/* 경험치바 */
.experience {
  margin-top: 10px;
}

#intelligence {
  margin-top: 10px;
  font-size: 20px;
  color: #cc9880;
}

.bar {
  width: 250px;
  height: 20px;
  background-color: #eee;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 4px;
}

#xp-bar {
  height: 100%;
  width: 0%;
  background-color: #cc9880;
  transition: width 0.3s ease;
}

/* .bar {
  margin-top: 5px;
  display: block;
  --height-of-loader: 20px;
  --loader-color: #0071e2;
  width: 200px;
  height: var(--height-of-loader);
  border-radius: 30px;
  background-color: rgba(0,0,0,0.2);
  position: relative;
}

.bar::before {
  content: "";
  position: absolute;
  background: var(--loader-color);
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  border-radius: 30px;
  animation: moving 1s ease-in-out infinite;
  ;
} */

/* @keyframes moving {
  50% {
    width: 100%;
  }

  100% {
    width: 0;
    right: 0;
    left: unset;
  }
} */