body {
  background-image: url(../IMG/class_background.png);
  background-size: cover;
  background-position: center bottom;
  height: 850px;
  margin: 0px;
  overflow: hidden;
}

.charater {
  position: absolute;
  left: 40%;
  bottom: 2%;
  width: 280px;
}

.low-button {
  margin: 10px 0 0 10px;
  display: flex;
  flex-direction: column;
  left: 41.5%;
  bottom: 2%;
}

input[type="button"] {
  width: 240px;
  height: 100px;
  cursor: pointer;
  margin-top: 10px;
}

.top-container {
  display: flex;
  justify-content: space-between;
}

.challenge-box {
  display: flex;
  margin: 10px 10px 0 0;
}

#challenge {
  width: 180px;
  height: 80px;
}

button {
  background: none;
  border: none;
}

#result {
  text-align: center;
}

.int-bar,
.major-bar {
  margin: 10px 0 0 10px;
  padding-left: 10px;
  background-color: white;
  width: 50vh;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 30px;
}

/* input[type="button"] {
  background: #ffffffcc;
  border: none;
  padding: 16px 24px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  font-size: 1.2rem;
  transition: transform 0.2s;
} */

/* input[type="button"]:hover {
  transform: scale(1.05);
} */
