body {
  background-image: url(../../IMG/class_background.png);
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
}

.container {
  box-sizing: border-box;
  background-color: blanchedalmond;
  width: 80vw;
  height: 90vh;
  border-radius: 30px;
}

.challenge {
  background-color: white;
  width: 20vh;
  height: 15vh;
}